<div id='editor' class='code' style='display: none;'>
<div id='uploads'></div>
<h2 id='uploaded' style='width: 100%; text-align: center;'>
<button id='add' class='material-symbols-outlined'>add</button>
<button id='todo' class='material-symbols-outlined macro'>event_list</button>
<button id='rem' class='material-symbols-outlined macro'>today</button>
<button id='txts' class='material-symbols-outlined macro'>newspaper</button>
<button id='csvs' class='material-symbols-outlined macro'>data_table</button>
<button id='unit' class='material-symbols-outlined macro'>square_foot</button>
<button id='run' class='material-symbols-outlined'>send</button>
</h2>

<h2 style='width: 100%; text-align: center; margin: 0;'>
<input id='title' class='code' placeholder='heading' style='width: 100%; vertical-align: middle; font-size: large;'>
</h2>

<textarea id='script' class='code' placeholder='script...'>

</textarea>
</div>
